@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
   default:true;
   --color-base-content:#E2E2E8;
   --color-primary:#FFFFFF ;
   --color-secondary:#F0F0F0 ;
   --color-accent:#6686FF; 
   --color-neutral:#000000; 
   --color-info:#FFE1E1; 
   --color-info-content:#a855f7; 
   --color-success: #E1FCFF;
   --color-success-content: #E1FFE4;
    --color-warning: #EBE1FF;
 
}
